body *{
outline: none;}
header{
  max-height: 10em;
  margin: auto;
  padding: auto;
  background-color: #2080d0;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
header>*{
  width: 80%
}
header *{
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  }

header h1{
  font-size: 30px;
  font-weight: 600;
}
header h2{
  font-size: 25px;
  font-weight: 300;
}

.container-fluid{
  background: white;
}

.container-fluid>*{
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}
table{
  width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.navbarelements>*{
  width: auto;
  font-weight: 600;

}

.icon-bar{
  background: black;
}
.colorboxes>*{
  background: white
}
/* .collapsed{
  border: 2px dashed white
} */

.colorboxes>*,.navbarelements{
  width: 50%;
  max-width: 30em
}

.boxcolor{
  /* width: 30%; */
  background-color: green;
  /* padding-left: 0.3em; */
  padding-top: 0.3em;
  border: 1em solid white;
  max-width: 30%;
  padding-bottom: 30%;
  border-radius: 40px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}
/* .six{
  width: 30%;
  padding-bottom: 30;
} */

body{
  background-color: black
}
.navhover{
  background: white;
  color: black
}
.navclick{
  color: black;
  text-decoration: underline;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

.message{
  text-align: center;
  color: black;
  text-decoration: underline overline;
  background: white;
  width: 9em;
  /* padding-top: 15px;
  margin-top: 15px; */
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  font-weight: 600;
  text-indent: right;
  font-family: 'Roboto Mono', monospace;
}

#bs-nav-col li,#bs-nav-col ul{
  padding: 0px;
  /* width: 30% */
}
.navbar-right{
  width: auto;
  padding-left: 50%;
}
#easymode,#hardmode{
  /* width: auto; */
  padding-left: 10%;
  padding-right: 10%;
  }
