header{
  margin: auto;
  padding: auto;
  background-color: #2080d0;
}
header *{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.container-fluid{

  padding-left: auto;
  padding-right: auto;
  background: #2060a0;
}
table,.container-fluid>*{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.navbarelements *{
  color: white
}

.colorrow{
}
.boxcolor{
  background-color: green;
  padding-left: 30%;
  padding-top: auto;
  border: 1.66em solid white;
  padding-bottom: 30%;
}

body{
  background-color: black
}
